<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.UserMapper">

    <select id="userLogin" resultType="com.example.mall.entity.User">
        select *
        from user
        where username = #{name}
          and password = #{pwd}
    </select>

    <insert id="registerUser" parameterType="com.example.mall.entity.User" useGeneratedKeys="true" keyProperty="user_id">
        insert into user (username, password, address, phone)
        values (#{username}, #{password}, #{address}, #{phone})
    </insert>
<!--<selectKey>设置keyProperty为返回的余额字段名 表示在更新后再查询-->
    <update id="recharge">
        UPDATE user
        SET balance = balance + #{amount}
        WHERE user_id = #{id};
        <selectKey keyProperty="balance" resultType="float" order="AFTER">
            SELECT balance FROM user WHERE user_id = #{id}
        </selectKey>
    </update>

    <update id="consumption">
        UPDATE user
        SET balance = balance - #{amount},
        accumulated = accumulated + #{amount}
        WHERE user_id = #{id};
        <selectKey keyProperty="balance" resultType="float" order="AFTER">
            SELECT balance FROM user WHERE user_id = #{id}
        </selectKey>
    </update>


    <select id="getBalance" resultType="java.lang.Float">
        select balance
        from user
        where user_id = #{id}
    </select>


    <select id="getUserByName" resultType="com.example.mall.entity.User">
        select *
        from user
        where username = #{name}
    </select>
    <select id="getUserById" resultType="com.example.mall.entity.User">
        select *
        from user
        where user_id = #{id}
    </select>

    <insert id="addFeedback" parameterType="com.example.mall.entity.UserFeedback">
        insert into feedback (username, email, feedback, submittime)
        values (#{username}, #{email}, #{feedback}, #{submitTime})
    </insert>

    <select id="searchFeedback" resultType="com.example.mall.entity.UserFeedback">
        SELECT *
        FROM feedback
        <if test="keyword != null and keyword != ''">
            WHERE feedback LIKE CONCAT('%', #{keyword}, '%')
            <if test="type != null">
                AND status = #{type}
            </if>
        </if>
        <if test="keyword == null or keyword == ''">
            <if test="type != null">
                WHERE status = #{type}
            </if>
        </if>
    </select>



    <select id="getFeedback" resultType="com.example.mall.entity.UserFeedback">
        SELECT *
        FROM feedback
        ORDER BY id DESC
    </select>



    <update id="updateUserInfo" parameterType="com.example.mall.entity.User">
        UPDATE user
        SET username = #{username},
            password = #{password},
            address = #{address},
            phone = #{phone}
        WHERE user_id = #{user_id};
    </update>

    <update id="updateFeedback">
        UPDATE feedback
        SET status = 1
        WHERE submittime = #{submitTime};
    </update>

    <update id="addClicks">
        INSERT INTO recommend (user_id, product_id, clicks)
        VALUES (#{uid}, #{pid}, 1)
            ON DUPLICATE KEY UPDATE clicks = clicks + 1;
    </update>


</mapper>
